<footer>
    <h3>R.C.L 2024 All Rights Reserved</h3>

    <ul>
        <li><a href="">x</a></li>
        <li><a href="">Facebook</a></li>
        <li><a href="">Instagran</a></li>
        <li><a href="">Linkelin</a></li>
    </ul>
</footer>